

.tags-container {
  display: flex;
  width: auto;
}

.drag-drop-tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  width: 300px;
  margin: 15px;
  box-shadow: 0 1px 2px -3px rgba(0, 0, 0, 0.2),
  0px 1px 4px 2px rgba(0, 0, 0, 0.1);
}

.drag-tag {
  width: 350px;
  height: 50px;
}


.radio-group-width {
  width: 170px;
}

// TODO Examine and study code below : Nested styling

.research-radio-group {
  mat-radio-button {
    width: 170px;
    background-color: red;
  }
}

.research-tags-header {
  padding-left: 12px;
}

.flex-2-5 {
  flex: 2.5;
}

.tags-title {
  margin: 0;
  border-bottom: solid lightgrey 1px;
  padding: 5px 0 0 10px;

}

.util-fields {
  width: 120px;
  margin-right: 20px;
}

mat-form-field::ng-deep .mat-select-placeholder {
  color: rgb(0, 0, 0);
  -webkit-text-fill-color: initial;
  color: red;
}


//.header-flex {
//  display: flex;
//  justify-content: space-between;
//}

.button-box {
  display: flex;
  width: 550px;
  justify-content: flex-end;
  padding: 15px;
}






