// :host{
//  width: 100%;
//  //background-color: red;
//}

.employee-contractor-main {
  transform: translate(-50px);
}
.employee-contractor-grid {
  display: grid;
  //grid-template-columns: 300px 300px 300px ;
  grid-template-columns: 1fr 1fr 1fr ;
  margin: 50px;
  grid-column-gap: 27px;
  //width: 100%;
}

.employee-contract-header  {
  font-weight: 600;
  font-size: 26px;
  border-bottom: 1px solid grey;
  grid-column: 1/4;
  width: 279px;
}

.field-label {
  font-weight: 400;

}

.first-column {
  grid-column: 1;
}

.second-column {
  grid-column: 2;
}

.third-column {
  grid-column: 3/4;
}

.cvs-contract-grid {
  display: grid;
  grid-column: 1;
  grid-template-columns: 1fr 1fr;
}

.cvs-contract-header {
  grid-column: 1/3;
}

.controller-radio-button {
  display: grid;

}

.controller-margin-bottom {
  margin-bottom: 50px;
  grid-row-gap: 15px
}

mat-checkbox + mat-checkbox {
  margin-left: 0;
}

mat-radio-button + mat-radio-button {
  padding-left: 0;
}

.total-admin-box {
  grid-column: 2/4;
  grid-row: 5/8;
  height: 180px;
}


//.employee-list  {
//  grid-column: 1/4;
//  margin-top: 75px;
//}
//.employee-list-container {
//  display: grid;
//  grid-template-columns: 1fr 1fr 1fr;
//  height: 265px;
//  grid-column: 1/4;
//  border: 2px solid black;
//  justify-items: center;
//}
//
//.employee-list-header {
//  background-color: #f7f7f7;
//  display: grid;
//  grid-template-columns: 1fr 1fr 1fr;
//  grid-column: 1/4;
//  width: 100%;
//  justify-items: center;
//  h3 {
//    width: 180px;
//  }
//}
//
//.employee-list-title {
//  display: grid;
//  grid-template-columns: 1fr 1fr 1fr;
//  grid-column: 1/4;
//  width: 100%;
//  justify-items: center;
//  padding-top: 25px;
//  overflow: auto;
//
//}

//TODO Employee list with Grid




//TODO Employee Table with flex +++++++++++


.employee-list  {
  width: 100%;
  margin: 0 50px;

}

.employee-list-container-flex {
  //width: 1000px;
  display: flex;
  flex-direction: column;
  //width: 1280px;
  //background: yellow;
  margin: 50px;
  border: 2px solid grey;
  //width: 100%;
  width: 730px;


}


//.employee-list-header-flex {
//  display: flex;
//  //background-color: red;
//  flex-direction: column;
//
//}

.employee-list-header-flex {
  display: flex;
  background-color: lightgrey;
  padding: 0 40px;
  //flex-direction: row;
  //justify-content: space-between;

  //padding-left: 25px;

  h3 {
    width: 180px;
    margin-right: 30px;

    //flex: 1;
    //background-color: aqua;
    //padding: 20px;
    //margin: 20px

  }
}


.employee-table-flex {
  display: flex;
}
.employee-table {
  flex: 1;
  //background-color: aqua;
}

.employee-list-title-flex {
  height: 250px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 40px 0 40px;
}

.employee-list-title-flex mat-form-field {
  width: 180px;
  margin-right: 30px;
  //margin-right: 50px
  //background-color: aqua;
  //padding: 20px;
  //margin: 20px;
  //flex: 1;
}

//TODO Employee Table with flex +++++++++++



.employee-list-name {
  //background-color: #e4e4e4!important;
  //height: 50px;
  //grid-column: 1/4;
  //display: contents;
}

//.employee-list-container  h3 {
//  background: red;
//  grid-column-gap: unset!important;
//  padding: unset!important;
//  grid-column: 1/4;
//}



//.employee-list-grid {
//  background-color: red;
//  display: grid;
//  grid-template-columns: 1fr 1fr 1fr;
//  grid-column-gap: 100px;
//  background-color: greenyellow;
//}
mat-radio-button .warwick ::ng-deep .mat-radio-label-content {
  color: purple;
}

//.mat-form-field-flex .mat-form-field-flex textarea.mat-input-element.cdk-textarea-autosize {
//  min-height: 135px;
//  background-color: red;
//}
//
//.total-admin-box ::ng-deep  {
//  min-height: 135px;
//  background-color: yellow;
//}


mat-form-field  textarea {
  min-height: 135px!important;
}

 //mat-form-field mat-select ::ng-deep .mat-select-trigger .mat-select-value .mat-select-arrow-wrapper .mat-select-arrow {
 //  color: blue;
 //}


mat-form-field.amar mat-select ::ng-deep .mat-select-arrow {
  color: red;
}

.business-icon {
  width: 28px;
  height: 55px;
  margin-right: 20px;
  padding-top: 5px;
}

.business-value {
  width: 100%;
}

.business-content {

  display: flex;
  //background-color: red;
  height: 47px;
}
