<div class="app-main-all-pages">
  <div class="header-profile">
    <div class="profile-bar">
      <h5 class="profile-bar-space">Welcome, FirstName</h5>
      <h5 class="profile-bar-space">Logout</h5>
    </div>

    <div class="logo-menu">
      <div class="logo" routerLink="/home">
        <svg>
          <use xlink:href="#logo"/>
        </svg>
      </div>
      <div class="logo-bar">
        <h1 class="bar-font">Formulary Research System</h1>
      </div>
    </div>
  </div>

    <div class="main-container">

      <div class="side-nav">
        <div class="side-nav-bar-items border-bottom-light ">
        <svg>
          <use xlink:href="#icon-menu--s"/>
        </svg>
      </div>
        <div class="side-nav-bar-items" routerLink="/home">
          <svg>
            <use xlink:href="#icon-home--s"/>
          </svg>
        </div>

        <div class="side-nav-bar-items" routerLink="/search">
          <div class="icon">
            <svg>
              <use xlink:href="#cvs-heart"/>
            </svg>
          </div>
        </div>
        <div class="side-nav-bar-items border-bottom-light" routerLink="/drugs">
          <svg>
            <use xlink:href="#icon-drug--s"/>
          </svg>
        </div>
        <div class="side-nav-bar-items border-bottom-light" routerLink="/add">
            <svg>
              <use xlink:href="#icon-duplicate--s"/>
            </svg>
        </div>
        <div class="side-nav-bar-items" routerLink="/report">
          <svg>
            <use xlink:href="#icon-formularies--s"/>
          </svg>
        </div>
        <div class="side-nav-bar-items" routerLink="/research">
          <svg>
            <use xlink:href="#icon-refresh-m"/>
          </svg>
        </div>
        <div class="side-nav-bar-items" routerLink="/user">
          <svg>
            <use xlink:href="#profile--s"/>
          </svg>
        </div>
        <div class="side-nav-bar-items" routerLink="employee">
          <svg>
            <use xlink:href="#icon-factory--s"/>
          </svg>
        </div>
        <!--<div class="side-nav-bar-items" routerLink="/table">-->
          <!--<svg>-->
            <!--<use xlink:href="#icon-table&#45;&#45;s"/>-->
          <!--</svg>-->
        <!--</div>-->

      </div>
      <router-outlet></router-outlet>
      <!--<mat-form-field appearance="outline">-->
        <!--<mat-label>Text Area</mat-label>-->
        <!--<textarea matInput placeholder="Textarea"></textarea>-->
      <!--</mat-form-field>-->
    </div>
</div>
