.app-main-all-pages {

display: flex;
height: 100%;
flex-direction: column;
}

.app-main-all-container {
  display: flex;
  flex: 1;
}
.main-container {
  display: flex;
  flex: 1;
}

.header-profile {
  border-bottom: solid lightgrey 1px;
}

.side-nav {
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  height: 100%;
  margin-right: 50px;
}

.side-nav-bar-items {
  width: 24px;
  height: 24px;
  padding: 12px;
}

//.side-nav-bar-items + .side-nav-bar-items {
//background-color: blue;
//}


.side-nav-bar-items:nth-of-type(even) {
  //background: red;
}


//
//.side-nav-bar-items:nth-of-type(2) {
//  background-color: blue;
//}


.side-nav-bar-items:hover {
  background-color: #ededed;
  border-left: solid #cc0000 5px;
  cursor: pointer;
  padding: 12px 12px 12px 7px;
  //background-color: greenyellow;
}

.profile-bar {
  background-color: #f4f4f4;
  display: flex;
  justify-content: flex-end;
  height: 40px;
  align-items: center;
}

.profile-bar-space {
  margin-right: 40px;
  font-weight: 400;
}

.logo {
  width: 280px;
  height:80px;
  margin-left: 30px;
}

.logo-menu {
  Display: flex;
}

.logo-bar {
  Padding: 20px 0 20px 100px;
}
.bar-font {
  font-weight: 400;
}


