






<h2> GPO -ABBOTT DIABETES CARE - FREESTYLE - ABTD CPCS DIABETES STRIPS (89648) </h2>
<h1>Edit/Add New Rule </h1>
<h3>All Fields required unless marked as optional.</h3>

<mat-form-field class="margin-right-35">
  <input placeholder="Effective Date"
         matInput
         value="12/22/19">
  <mat-hint>MM/DD/YYYY</mat-hint>
</mat-form-field>

<h5>CVS Contract:</h5>
<mat-checkbox>
  Engineer
</mat-checkbox>


<div class="button--text-only button">
  <div class="icon">
    <svg>
      <use xlink:href="#icon-pencil--s"/>
    </svg>
  </div>
  Apply
</div>





