@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body, html {
  margin: 0;
  height: 100%;
}

svg {
  width: inherit;
  height: inherit;
}

* {
  font-family: Helvetica, Arial, sans-serif
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 18px;
  margin: 0;
  padding: 1rem 0
}

p {
  font-size: 12px;
}

h3 {
  font-size: 16px;
  font-weight: normal;
}

.icon {
  width: 34px;
  height: 34px;
}

mat-label {
  font-size: 12px;
  font-family: Arial, sans-serif;
  color: #7b7b7b;
  margin: 6px 0;
}

mat-radio-button + mat-radio-button {
  padding-left: 12px;
}

.flex {
  display: flex;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.border-bottom-light {
  border-bottom: solid lightgrey 1px;
}

.border-right-light {
  border-right: solid lightgrey 1px;
}

.padding-all-20 {
  padding: 20px;
}

.padding-all-40 {
  padding: 20px;
}
.padding-all-12 {
  padding: 12px;
}
.padding-top-10 {
  padding-top: 10px;
}

.padding-top-35 {
  padding-top: 35px;
}


.margin-right-20 {
  margin-right: 20px;
}
.margin-right-10 {
  margin-right: 10px;
}

.margin-right-35 {
  margin-right: 35px;
}
.margin-right-60 {
  margin-right:60px;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-left-10 {
  margin-left: 10px;
}
.margin-top-100 {
  margin-top: 100px;
}


.width-450 {
  width: 450px;
}

mat-form-field::ng-deep .mat-select-placeholder {
  color: rgb(0, 0, 0);
  -webkit-text-fill-color: initial;
}

.box-shadow {
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

.link-button {
  background: none;
  text-decoration: underline;
}

.icon {
  width: 24px;
  height: 24px;
}

.button {
  padding: 10px 29px;
  display: inline-flex;
  align-items: center;
  font-size: 14px;

  .icon {
    margin-right: 20px;
  }
}

a + button {
  margin-left: 15px!important;
}


.button--red {
  border-bottom: solid #a50000 3px;
  background-color: #cc0000;
  color: white;
}

.button--red:hover {
  background-color: #eb0000;
  border-bottom: solid #cc0000 3px;
  cursor: pointer;
}

.button--black {
  background-color: black;
  color: white;
  border-bottom: solid #333333 2px;
}

.button--text-only {
  font-weight: 600;
  color: #cc0000;
  
  .icon {
    color: #000;
  }
}

.button--text-only:hover {
background-color: rgba(128, 0, 0, 0.02);
  cursor: pointer;
}


.button--black:hover {
  background-color: #333333;
  border-bottom: solid #000 2px;
  cursor: pointer;
}

.flex {
  display: flex;
}

.width-full {
  width: 100%;
}

.button + .button {
  margin-left: 30px;
}


