@import "~@angular/material/theming";


$mat-teal: (
  50: #e7f7f5,
  100: #c3eae6,
  200: #9bddd5,
  300: #73cfc4,
  400: #55c4b8,
  500: #37baab,
  600: #31b3a4,
  700: #2aab9a,
  800: #23a391,
  900: #169480,
  A100: #c9fff6,
  A200: #96ffed,
  A400: #63ffe5,
  A700: #49ffe0,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);


$mat-red: (
  50: #ffebee,
  100: #f0b3b3,
  200: #e68080,
  300: #db4d4d,
  400: #d42626,
  500: #cc0000,
  600: #c70000,
  700: #c00000,
  800: #b90000,
  900: #ad0000,
  A100: #ffd7d7,
  A200: #ffa4a4,
  A400: #ff7171,
  A700: #ff5858,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);

$mat-black: (
  50 : #e0e0e0,
  100 : #b3b3b3,
  200 : #808080,
  300 : #4d4d4d,
  400 : #262626,
  500 : #000000,
  600 : #000000,
  700 : #000000,
  800 : #000000,
  900 : #000000,
  A100 : #a6a6a6,
  A200 : #8c8c8c,
  A400 : #737373,
  A700 : #666666,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);



// Set Material Color Overrides
$cvs-primary: mat-palette($mat-teal);
$cvs-accent: mat-palette($mat-red);
$cvs-warn: mat-palette($mat-deep-orange, A200);
$cvs-black: mat-palette($mat-black);

// Apply Material Color Overrides
$cvs-theme: mat-light-theme($cvs-primary, $cvs-accent, $cvs-warn);
$cvs-black-theme: mat-light-theme($cvs-primary, $cvs-black, $cvs-warn);


@include angular-material-theme($cvs-theme);
@include mat-checkbox-theme($cvs-black-theme);
@include mat-radio-theme($cvs-black-theme);
