<div class="manage-research-main">

  <div class="manage-research-main-container">

    <div class="research-container-top">

          <h2> GPO -Abbvie - Humira - competitor </h2>
          <h1>Manage Resarach Tags </h1>
          <h5>All Fields required unless marked as optional.</h5>

          <div class="add-manufacturer">
              <div class="trade-manufacturer-tag">
                <h6>Select trade manufacturer</h6>
                <h5>ABBVIE</h5>
              </div>

              <!--<div>-->
                <div class="button--text-only button">
                  <div class="icon">
                    <svg>
                      <use xlink:href="#icon-plus--s"/>
                    </svg>
                  </div>
                  Add manufacturer
                </div>
              <!--</div>-->
          </div>

          <div class="edit-manufacturer">
            <div class="trade-drug-tag">
              ABBVIE Trade Drug
            </div>
            <div>
            <div class="button--text-only button">
              <div class="icon">
                <svg>
                  <use xlink:href="#icon-pencil--s"/>
                </svg>
              </div>
              Edit manufacturer
            </div>
            <div class="button--text-only button">
              <div class="icon">
                <svg>
                  <use xlink:href="#icon-plus--s"/>
                </svg>
              </div>
              Create Trade Drug
            </div>
            </div>

          </div>


          <div class="trade-drugs-table">
            <div class="trade-drugs-table-header">
              <div class="trade-drug-column">Trade drug</div>
              <div class="effective-date-column"> Effective date</div>
              <div class="termination-date-column">Termination date</div>
              <div class="ndc-quantity-column"> NDC quantity</div>
              <div class="status-column"> status</div>
              <div class="action-column"></div>
            </div>

            <div class="trade-drugs-table-row">
              <div class="trade-drug-column">Humira</div>
              <div class="effective-date-column"> 04/25/2019</div>
              <div class="termination-date-column">12/31/9999</div>
              <div class="ndc-quantity-column"> 11 NDC's</div>
              <div class="status-column"> Active</div>
              <div class="action-column icon">
                <svg>
                  <use xlink:href="#icon-duplicate--s"/>
                </svg>
              </div>
            </div>

            <div class="trade-drugs-table-row">
              <div class="trade-drug-column">ANDROGEL</div>
              <div class="effective-date-column"> 04/25/2019</div>
              <div class="termination-date-column">12/31/9999</div>
              <div class="ndc-quantity-column"> 4 NDC's</div>
              <div class="status-column"> Active</div>
              <div class="action-column icon">
                <svg>
                  <use xlink:href="#icon-duplicate--s"/>
                </svg>
              </div>
            </div>

            <div class="trade-drugs-table-empty"></div>
          </div>

    </div>

    <div class="drug-assignments-main">
      <div class="drug-assignments-header" >
        <h4>Drug Assignments </h4>
        <h4> X</h4>
      </div>

      <div class="drug-assignments-main-container">
        <div class="analyst-vendor">

          <div class="select-field">
              <mat-form-field class="margin-right-35">
                <input placeholder="Select Analyst"
                       matInput
                       value="Ashley Hubbard">
                <mat-hint>MM/DD/YYYY</mat-hint>
              </mat-form-field>

              <mat-form-field>
                <input placeholder="Select Backup"
                       matInput
                       value="Andrew LittleField">
                <mat-hint>MM/DD/YYYY</mat-hint>
              </mat-form-field>

            <h6> Assigned Vendors/Drugs</h6>
            <div class="checkbox-table">
              <mat-checkbox class="mat-checkbox-header">
                Select all
              </mat-checkbox>

              <div class="select-table">

              <mat-checkbox class="mat-checkbox-row">
                ABBVIE INC.

              </mat-checkbox>
              <mat-checkbox class="mat-checkbox-row">
                Humaira
              </mat-checkbox>
              <mat-checkbox class="mat-checkbox-row">
                Lupron
              </mat-checkbox>
              <mat-checkbox class="mat-checkbox-row">
                Technivie
              </mat-checkbox>
              <mat-checkbox class="mat-checkbox-row">
               Viekira Pak
              </mat-checkbox>
              </div>

            </div>

            </div>
        </div>





        <div class="select-vendor">
          <mat-form-field>
            <input placeholder="Select Vendor"
                   matInput
                   value="">
          </mat-form-field>
           <div class="vendor-view-drugs">
             <h6>Select vendor to view drugs. </h6>
           </div>

        </div>
      </div>





      <div class="bottom-button-bar">

        <div class="white-button button">
          Cancel
        </div>
        <div class="button--red button">
          Save
        </div>
      </div>
    </div>

  </div>

  <div class="comments-container ">
   <h2> Comments for Drug 3</h2>

    <mat-form-field>
      <input placeholder="Comment"
             matInput
             value="I am unsure if the admin fee for commercial is 4%
             but I also am not sure what it would be.">
    </mat-form-field>

    <mat-form-field>
      <input placeholder="Comment"
             matInput
             value="
                                                    ">
    </mat-form-field>

    <div class="button--text-only button">

      Add comment
    </div>
    <div class="close-icon">
      X
    </div>

  </div>


</div>




