

.manage-research-main {
  display: flex;
}

.manage-research-main-container {
  display: flex;
  flex-direction: column;
}

.research-container-top {
  //background-color: aqua;
  width: 900px;
  height: 550px;
  margin-right: 100px;
}

.add-manufacturer {
  display: flex;
  justify-content: space-between;
  height: 55px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  h6 {
    margin: 0;
    color: grey;
  }
    h5 {
      margin: 10px 0 0 0;

      font-weight: 400;
    }
}

.trade-manufacturer-tag {
  margin: 10px;
}

.edit-manufacturer {
  height: 55px;
  margin: 10px 0 10px 0;
  //border-bottom: 2px solid red;
  display: flex;
  justify-content: space-between;
}

.button + .button {
  margin-left: 0;
}

.trade-drug-tag {
  display: inline-block;
  margin: 15px 0;
  font-weight: 800;
}

.trade-drugs-table {
  height: 250px;
  border: 1px solid grey;
  box-shadow: -1px 4px 3px rgba(0, 0, 0, 0.3);
}

.trade-drugs-table-header {
  height: 55px;
  //border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: grey;
}

.trade-drugs-table-row {
  height: 55px;
  //border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.trade-drug-column {
  //flex: 2;
  width: 200px;
}

.effective-date-column {
  //flex: 1;
  width: 150px;
}

.termination-date-column {
  //flex: 2;
  width: 200px;
}
.ndc-quantity-column {
  //flex: 1;
  width: 150px;
}

.status-column {
  //flex: 1;
  width: 100px;
}
.action-column {
  //flex: 1;
}

.drug-assignments-main  {
  //background-color: red;
  width: 950px;
  height: 500px;
  //border-top: 1px solid red;
}

.drug-assignments-header {
  display: flex;
  //width: 75px;
  justify-content: space-between;

}

.drug-assignments-header h4 :nth-of-type(1) {
  display: inline-block;
  color: red;
}

.drug-assignments-header h4 :nth-of-type(2) {
  display: inline-block;
  color: blue;
  font-size: 24px;
  font-weight: 800;
}



.drug-assignments-main-container {
  display: flex;
  padding: 20px;
}

.analyst-vendor {
  width: 450px;
  height: 450px;
  background: #f4f4f4;
  border: 1px solid grey;
}


.select-field {
  margin: 20px;
}
mat-form-field {
  width: 140px;
}

.checkbox-table {
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  height: 220px;

}

.mat-checkbox-header {
  border-bottom: 1px solid grey;
  height: 45px;
  display: flex;
  align-items: center;
  background-color: white;
  padding-left: 10px;
}

.mat-checkbox-row {
  border-bottom: 1px solid grey;
  height: 45px;
  display: flex;
  align-items: center;
  background-color: white;
  margin-left: 0;
  //margin: 0 20px 0 10px;
}

.select-table {
  overflow: auto;
}

.select-table  ::ng-deep #mat-checkbox-2  {
  background: #f4f4f4;
  position: sticky;
  top: 0;
}


.select-table  ::ng-deep #mat-checkbox-2 .mat-checkbox-layout {
  font-weight: bold;
}

.select-table mat-checkbox ::ng-deep .mat-checkbox-layout {
  margin-left: 10px;
}

.select-vendor {
  width: 450px;
  //background: lightgrey;
  height: 450px;
  //border: 2px solid blue;
  margin: 0 50px;

  mat-form-field {
    width: 200px;
    padding-top: 25px;
  }

}

.vendor-view-drugs {
  border: 1px solid lightgrey;
  width: 400px;
  height: 250px;
  margin-top: 75px;
  h6 {
    margin: 20px 0 0 20px;
    font-weight: 400;
    color: grey;
  }
}

.bottom-button-bar {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}



.comments-container {
  width: 400px;
  height: 1200px;
  border: 1px solid grey;
  //background-color: blue;
  display: flex;
  flex-direction: column;
  box-shadow: -3px 2px 3px rgba(0, 0, 0, 0.3);
  margin-top: 5px;
   h2 {
     margin: 25px;
   }
  mat-form-field {
    width: auto;
    margin: 25px;
  }
}

.close-icon {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 0;
  right: 0;
  color: red;
}
